<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <header class='d-flex mt-1 justify-content-around align-items-center'>
        <h1 class="text-center">Flixs & Chill</h1>
        <a href="/dashboard" class="btn btn-outline-success my-2 my-sm-0" type="submit">Dashboard</a>
    </header>

    <div id="movie_1">
        <div class="left">
            <a href="/movie_details"><img src="{{ url_for('static', filename='img/unsplash.jpg') }}"></a>
            <div class="movie-info">
                <h3>Movie Title</h3>
                <span class="green">9.9</span>
            </div>
        </div>
        <div class="right">
            <div class="overview">
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas magni repellat quaerat
                    saepe perferendis beatae reiciendis? Delectus fuga assumenda officiis?</h3>
            </div>
            <h5>Release Date: 10/10/2022</h5>
            <h5>Runtime:</h5>
            <h5>Status:</h5>
            <h5>Budget:</h5>
            <h5>Popularity:</h5>
            <h5>Vote Count:</h5>
            <h5>Genres:</h5>
        </div>
        <div class="trailer">
            Movie Trailer
        </div>
    </div>

    <main id="main">
        <h3>Reviews</h3>
        <div class="review">
            <div class="user">
                <p>Name:</p>
                <p>Rating:</p>
                <p>Created at:</p>
                <p>Updated at:</p>
            </div>
            <div class="user_review">
                <div class="review_text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis velit iusto autem debitis
                    dolor numquam voluptatum, totam recusandae cupiditate, nesciunt beatae sint fugit quis quos ipsam
                    tenetur est voluptatem atque. Expedita, tempore voluptate dolor nobis quaerat ullam eos rerum autem
                    ad adipisci suscipit nostrum id laudantium iste voluptatum itaque distinctio hic unde dolorem vero
                    saepe. Minus, accusamus sapiente tenetur adipisci quod exercitationem repudiandae expedita
                    praesentium
                    modi cumque reprehenderit tempore fuga laudantium, architecto velit hic molestiae voluptatem vel non
                    necessitatibus deleniti. Autem reiciendis nisi, laudantium aut placeat deleniti corporis iusto, quae
                    nesciunt ducimus a laboriosam cum asperiores eum ea nostrum nemo.
                </div>
            </div>
        </div>
    </main>




    <script type="text/javascript" src="{{ url_for('static', filename='js/script2.js') }}"></script>
</body>

</html>